body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}


#recipe {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ffffff;
  display: inline-block;
}

.chef-img {
position:sticky; 
}

button {
cursor: pointer;
background-color: #262626;
color: #fcfcfc;
padding: 10px;
border-radius: 6px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
